[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	sur = submodule update --init --recursive --jobs=7
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ctags = !$(git rev-parse --git-dir)/hooks/ctags
	rebase = rebase --autosquash
	rio = rebase --autosquash -i origin/master
	pgm = "!git push gerrit HEAD:refs/for/master; ~/.dotfiles/scripts/add-gerrit-reviewers"
	fu = commit --fixup
[user]
	name = Connor Braa
	email = cbraa@lytro.com
[init]
	templatedir = ~/.dotfiles/git_template
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[merge]
	tool = fugitive
