"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

set surround
set ignorecase
set smartcase
set hlsearch
set incsearch
set ideajoin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'

set NERDTree
nnoremap - :NERDTreeToggle<cr>
map - :NERDTreeToggle<cr>

" Don't use Ex mode, use Q for formatting.
map Q gq

vnoremap < <gv
vnoremap > >gv

nnoremap <c-x> :action HideAllWindows<CR>

" nnoremap - :action ShowNavBar<CR>

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc

set clipboard+=unnamed
